body{
    background-color: #2D2D2D;
}
table {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    text-align: center;
    border-collapse: collapse;
    min-height: 100vh;
    margin: auto;
}

th, td:first-child {
    font-weight: bold;
    background-color: #f00a34;
    padding: 15px 35px;
    color: #fff;
}

td {
    background-color: #f5a4b3;
}

td, th {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: #2D2D2D;
}

@media screen and (max-width: 767.98px){
    table{
        min-width: 100%;
    }
}